/* ---------------------------------------- start public ---------------------------------------------------------------*/
/* home page */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/* res 7 */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Miniver&family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Miniver&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --res7-main-color:rgb(201, 171, 129);
}
.main-color{
    color: #e7b35a;
}
body{
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.container-95{
    width: 95%;
    margin: auto;
}
/* ---------------------------------------- end public ---------------------------------------------------------------*/



/*  *************************************** Start Main Resturant Page ***************************************      */
/* ---------------- start header ----------------------*/
/* ---------------- start nav section -----------------*/
nav{
    position: absolute !important;
    top: 0px !important;
    z-index: 9999;
}
.upper-nav{
    margin-left: auto;
    padding-right: 2.4rem;
    line-height: 1px;
    padding-top: 5px;
}
.navbar-expand-lg{
    flex-wrap: wrap;
}
.nav-link{
    color: white;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'PT Serif', serif;
    margin-left: 1.5rem;
    line-height: 1px;
}


.nav-link:hover{
    color: #C59D5F!important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #C59D5F !important;
}
.log-in-btn{
    background-color: #e7b35a;
}
.navbar-expand-lg .navbar-collapse{
    margin-left: 280px !important;
}
.upper-nav .fa-brands{
    color: white;
}
/* ---------------- end nav section -----------------*/

/* ---------------- start head section -----------------*/

.main-container{
    width: 95%;
    margin: 2rem auto 0;
}
.main-video{
    position: relative;
    object-fit: fill;
    width: 95vw;
    height: 95vh;
   
}
header .overlay{
    background:linear-gradient(to bottom , rgb(00,00,00,0.4) 0 , rgb(0,0,0,0.4) 100%);
    width: 95vw;
    height: 95vh;
    
}
.header{
    position: absolute;
    top: 35%;
    left: 0px;
    right: 0px;
    z-index: 99999;
    text-align: center;
}
.header-logo{
    margin: 10px auto;
}
.header-title{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    font-family: 'Playball', cursive;
}
.header-para-hr{
    color: #C59D5F;
    width: 75px;
    height: 1px;
    opacity: 0.6;

}
.header-para{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.hero-decor {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
}
.half-circle{
    border:3px solid #C59D5F;
    width: 100px;
    height: 50px;
    border-top: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-sizing: border-box;
}
.half-circle:before {
    content: '\f005';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20px;
    height: 20px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: -15px;
    margin-left: -10px;
    color: #fff;
    font-size: 18px;
}

/* ---------------- end head section -----------------*/
/* --------------------- end header -----------------------------*/

/* ---------------------start preview -----------------------------*/
.heading-preview{
   margin-top: 6rem;
}
.home-menu{
    margin-left: 1rem;
    padding: 0.3rem;
    background-color: #444;
    border: 1px solid #444;
    border-radius: 0px;
    color: white;
}
.Preview .active{
    background-color: #C59D5F !important;
    border:1px solid #C59D5F !important;
}
.Preview{
    border-bottom: 1px solid #555;
}
/* --------------------- end preview ------------------------------------*/

/* --------------------- Start opeining hour ----------------------------*/

.opening-hour{
    background-image: url(images/28.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh;
    background-attachment: fixed;
    margin-bottom: 10px;
}
.opening-hour h2{
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 7rem;
}
.openin-hour-overlay{
    background:linear-gradient(to bottom , rgb(00,00,00,0.5) 0 , rgb(0,0,0,0.5) 100%);
    width: 100%;
    height: 100%;
}
.opening-hour h3{
    color: #C59D5F;
    font-family: 'Playball',' cursive';
    font-size: 34px;
   
}
.opening-hour hr{
    color: #C59D5F;
    width: 150px;
    height: 1px;
    opacity: 0.6;
}
.opening-hour .left-hr{
    margin-right: 13rem;
}
.opening-hour .right-hr{
    margin-left: 13rem;
}
.opening-hour .hours{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.opening-hour a {
    color: #C59D5F;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
    font-family: 'Playball', 'cursive';
    text-decoration: none;
}
/* ------------------------ End opeining hour --------------------------*/
/* ------------------------start footer ---------------------------------*/
.main-res-footer{
    background-image: url(images/home-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
}
.footer-heading{
    padding-top: 7rem;
    padding-bottom: 2rem;
}
/* ----------------------- end footer -----------------------------------*/
/*  *************************************** End Main Resturant Page **********************************************     */


/*  *************************************** Start Resturant --1-- Page **************************************** */
/*  *************************************** End Resturant --1-- Page ****************************************** */


/*  *************************************** Start Resturant --2-- Page **************************************** */
/*  *************************************** End Resturant --2-- Page ****************************************** */


/*  *************************************** Start Resturant --3-- Page **************************************** */
/*  *************************************** End Resturant --3-- Page ****************************************** */


/*  *************************************** Start Resturant --4-- Page **************************************** */
/*  *************************************** End Resturant --4-- Page ****************************************** */


/*  *************************************** Start Resturant --5-- Page **************************************** */
/*  *************************************** End Resturant --5-- Page ****************************************** */


/*  *************************************** Start Resturant --6-- Page **************************************** */
/*  *************************************** End Resturant --6-- Page ****************************************** */


/*  *************************************** Start Resturant --7-- Page **************************************** */
/*-------------- start header section --------------*/
.res-7-head{
    background-image: url(images/res7/main-bg.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}
.res-7-head h3{
    font-family: 'Mrs Saint Delafield', cursive;
    line-height: 145px;
    font-weight: 300;
    font-size: 8.75rem;
    color: var(--res7-main-color);
    
}
.res-7-head p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 1.313rem;
    line-height: 32px;
    text-align: center;
    margin: auto;
    width: 41.813rem;
}
/*-------------- End header section --------------*/

/*-------------- Start section --1-- --------------*/
.s1{
    background-color: #040909;
    height: 1000px;
    position: relative;
}
#res1-data1{
    top:-180px; 
}
.s1-1{
    height: 250px;
    width: 350px;
    background: #000;
    background-position: top;
    transition: ease-in-out 4s;
}
.s1-1:hover{
 background-position: bottom !important;
}
/*-------------- End section --1-- --------------*/

/*-------------- Start section --2-- --------------*/
.s2{
    background-color: #0f1d22;
    height: 100vh;
}
.res7-section-title-para{
    font-family: 'Miniver', cursive;
    font-size: 1.188rem;
    font-weight: 400;
    line-height: 28px;
    color: rgb(201, 171, 129);
    margin-bottom: 0.813rem;
}
.res7-section-title{
    font-family: sans-serif;
    font-size: 2.563rem;
    font-weight: 700;
    line-height: 53.71px;
    text-transform: uppercase;
    color: rgb(201, 171, 129);
}
.s2 p{
    font-family:sans-serif;
    font-weight: 300;
    line-height: 28px;
    font-size: 1.188rem;
    text-align: center;
    color: white;
}
.s2 a {
    color: white;
    text-decoration: double #C59D5F;
}
.laptop img{
   width: 727.95px;
   height: 406.72px;
}
.landing-laptop img{
    position: absolute;
    width: 521px;
    height: 311px;
    top: 42px;
    left: 95px;
}
.tablet{
    position: absolute;
    top: 120px;
    left: 100px;
}
.tablet img{
    width: 340px;
    height: 349px;
}
.landing-tablet img{
    position: absolute;
    width: 177px;
    height: 268.53px;
    top: 35px;
    left: 85px;
}
.phone{
    position: absolute;
    top: 230px;
    left: 240px;
}
.phone-img{
    width: 261px;
    height: 300px;
}
.landing-phone img{
    position: absolute;
    width: 104px;
    height: 229px;
    top: 35px;
    left: 81px;
}
.phone-mask{
    width: 261px;
    height: 300px;
    position: absolute;
    top: 26px;
    left: 73px;
}
.res7-s3{
    height: 200vh;
    background-color: #090d0e;
    text-align: center;
    color: #C9AB81;
    padding-top: 5rem;
}
.res7-s3 p{
    width: 35%;
}
.res7-footer{
    background-image: url(images/res7/landing-img-16.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 7rem;
}
.res7-footer p{
    color: rgb(201, 171, 129);
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 130px;
    font-weight: 300;
    line-height:80px;
    text-align: center;
}
.res7-footer .login-section{
    margin-top: 5rem;
}
.res7-footer .login{
    border :1px solid #C59D5F;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 9px 39px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5.04px; 
    font-size: 14px;
}

/* --------------------- start menue page -------------------*/
.res-menu-nav{
    top:2rem !important; 
    border-bottom: 1px solid #715b3e;
}
.res-menu-nav-item{
    margin-left: 5.4rem;
}
.res-menu-nav-item .nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 5.04px;
    line-height: 23px;
}
.res7-menu-header{
    background: url(images/res7/Our-menu-title-img.jpg);
    height: 80vh;
    background-size: cover;
}
.res7-menu-header .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 100%;
}
.res7-menu-header h1{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #C59D5F;
    font-size: 3rem;
}
.res7-menu{
    background-color: #0b1315;
    color: #C9AB81;
    height: 140vh;
    text-align: center;
}
.res7-menu .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 100%;

}
.res7-menu-bg-line{
    border-left: 1px solid ;
    border-color:  rgba(113, 91, 62 ,0.1);
    height: 100%;
    width: 21%;
}

.res7-menu-header-content{
   padding-top: 5rem;
}
#res-men-7-data{
    height: 400px;
}
.res7-menu-line{
    display: table-cell;
    width:50%;
    border-bottom: 1px solid #715b3e;
    position: relative;
    bottom: 8px;
}
.res7-menu-line::before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #715b3e;
}
.res-7-menu-card h6 ,.res-7-menu-card p{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #C59D5F;
    text-align: left;
}
.res-7-meun-desc{
    color: white !important;
    font-size: 0.8rem !important;
    font-family: sans-serif !important;
}
.res-7-menu-card a{
    background-color:#715b3e;
    color: #FFF;
    font-size: 0.8rem;
   
}

.res7-menu-main-image{
    background-image: url(images/res7/Our-menu-img-1.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

.res7-menu-main-image2{
    background-image: url(images/res7/Our-menu-img-2.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.res7-menu-main-image3{
    background-image: url(images/res7/Our-menu-img-3.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.res7-menu-footer{
    background-color:#0b1315;
    height: 90vh;
}
.res7-menu-footer .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 100%;
}
.res7-menu-footer-logo{
    padding-top: 8rem !important;
}
.res7-menu-footer a, .res7-menu-footer p{
    font-family:sans-serif;
    font-size: 19px;
    font-weight: 300;
}
.res7-menu-footer a{
    color: white;
    text-decoration: none;
}
.res7-menu-footer a:hover{
    color: #c9ab81;
}
.res7-menu-footer .contact{
    border-bottom: 4px double #c9ab81;
    margin-left: 1rem;
}
.res7-menu-main-image .container, .res7-menu-main-image2 .container, .res7-menu-main-image3 .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 50vh;
}
/* --------------------- End menue page -------------------*/
/*-------------- End section --2-- --------------*/

/*  *************************************** End Resturant --7-- Page ****************************************** */


/*  *************************************** Start Resturant --8-- Page **************************************** */
/*  *************************************** End Resturant --8-- Page ****************************************** */


/*  *************************************** Start Gallery Page **************************************** */
/*  *************************************** End Gallery Page ****************************************** */


/*  *************************************** Start Login Page **************************************** */
/*  *************************************** End Login Page ****************************************** */


/*  *************************************** Start Reservation Page **************************************** */
/*  *************************************** End Reservation Page ****************************************** */


/*  *************************************** Start Blog Page **************************************** */
/*  *************************************** End Blog Page ****************************************** */