/* ---------------------------------------- start public ---------------------------------------------------------------*/
/* home page */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/* res 7 */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Miniver&family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Miniver&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/* res 8*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100;400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/*reservation*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100;400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap');
/*main menu*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --res7-main-color:rgb(201, 171, 129);
    --res8-mai-color:#60BA62;
}
.main-color{
    color: #e7b35a;
}
body{
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.container-95{
    width: 95%;
    margin: auto;
}
.container-80{
    width: 80%;
    margin: auto;
}
.container-90{
    width: 90%;
    margin: auto;
}
.subpages_header-h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2.75rem;
    padding-bottom: 20px;
}
.subpages_header-h3{
    color:#C59D5F ;
    font-family: 'Playball', cursive;
    font-size: 2.125rem;
}
.subpages_header-h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
}
.subpages_header-btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
.subpages_header-btn:hover{
    background-color: #000;
    color: rgb(197,157,95);
    font-size: 1.156rem;
}
.subpages_table-btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 0.5rem;
    background-color: #000;
    letter-spacing: 1px;
    padding: 10px 30px;
    margin: 1rem auto 1rem;
}
.orderbtn:hover{
    background-color: #715b3e !important;
}
/* ---------------------------------------- end public ---------------------------------------------------------------*/



/*  *************************************** Start Main Resturant Page ***************************************      */
/* ---------------- start header ----------------------*/
/* ---------------- start nav section -----------------*/
nav{
    position: fixed !important;
    top: 0px !important;
    z-index: 9999;
    overflow: hidden;
    width: 100vw;
}
.upper-nav{
    margin-left: auto;
    padding-right: 2.4rem;
    line-height: 1px;
    padding-top: 5px;
}
.navbar-expand-lg{
    flex-wrap: wrap;
}
.nav-link{
    color: white;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'PT Serif', serif;
    line-height: 1px;
}
.nav-link:hover{
    color: #C59D5F!important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #C59D5F !important;
}
.log-in-btn{
    background-color: #e7b35a;
}
.upper-nav li{
    margin-left: 0.7rem;
}
.upper-nav .fa-brands{
    color: white;
}
.navbar-collapse{
    flex-grow: 0;
}
/* ---------------- end nav section -----------------*/

/* ---------------- start head section -----------------*/

.main-container{
    width: 95%;
    margin: 2rem auto 0;
}
.main-video{
    position: relative;
    object-fit: fill;
    width: 95vw;
    height: 95vh;
   
}
header .overlay{
    background:linear-gradient(to bottom , rgb(00,00,00,0.4) 0 , rgb(0,0,0,0.4) 100%);
    width: 95vw;
    height: 95vh;
    
}
.header{
    position: absolute;
    top: 35%;
    left: 0px;
    right: 0px;
    z-index: 99999;
    text-align: center;
}
.header-logo{
    margin: 10px auto;
}
.header-title{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    font-family: 'Playball', cursive;
}
.header-para-hr{
    color: #C59D5F;
    width: 75px;
    height: 1px;
    opacity: 0.6;

}
.header-para{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.hero-decor {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
}
.half-circle{
    border:3px solid #C59D5F;
    width: 100px;
    height: 50px;
    border-top: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-sizing: border-box;
}
.half-circle:before {
    content: '\f005';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20px;
    height: 20px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: -15px;
    margin-left: -10px;
    color: #fff;
    font-size: 18px;
}

/* ---------------- end head section -----------------*/
/* --------------------- end header -----------------------------*/

/* --------------------- Start section1 -----------------------------*/
.mainpage-s1{
    margin-top: 10rem;
}
.mainpage-s1 p{
    font-family: sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 10px;
}
.mainpage-s1 a{
    color: #C59D5F;
    font-family: 'Playball',' cursive';
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ourresturanrsection{
    margin-bottom: 7rem;
}
/* --------------------- end section1 -----------------------------*/
/* ---------------------start preview -----------------------------*/
.heading-preview{
   margin-top: 6rem;
}
.home-menu{
    margin-left: 1rem;
    padding: 0.3rem;
    background-color: #444;
    border: 1px solid #444;
    border-radius: 0px;
    color: white;
}
.Preview .active{
    background-color: #C59D5F !important;
    border:1px solid #C59D5F !important;
}

/* --------------------- end preview ------------------------------------*/

/* --------------------- Start opeining hour ----------------------------*/

.opening-hour{
    background-image: url(images/28.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh;
    background-attachment: fixed;
    margin-bottom: 10px;
}
.opening-hour h2{
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 7rem;
}
.openin-hour-overlay{
    background:linear-gradient(to bottom , rgb(00,00,00,0.5) 0 , rgb(0,0,0,0.5) 100%);
    width: 100%;
    height: 100%;
}
.opening-hour h3{
    color: #C59D5F;
    font-family: 'Playball',' cursive';
    font-size: 34px;
   
}
.opening-hour hr{
    color: #C59D5F;
    width: 150px;
    height: 1px;
    opacity: 0.6;
}
.opening-hour .left-hr{
    margin-right: 13rem;
}
.opening-hour .right-hr{
    margin-left: 13rem;
}
.opening-hour .hours{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.opening-hour a {
    color: #C59D5F;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
    font-family: 'Playball', 'cursive';
    text-decoration: none;
}
/* ------------- End opeining hour section ---------*/
.main-res-contact {
    padding-bottom: 4rem;
}
.main-res-contact p{
    font-family: 'Playball', 'cursive';
    color: rgb(197,157,95);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.carousel-control-prev{
    left: 30%;
    top:130%
}
.twitter-icon-slider{
    top:100%;
    color: rgb(197,157,95);
}
.carousel-control-next{
    right: 25%;
    top: 130%;
}
.carousel-control-prev-icon{
    background-image: none;
}
.carousel-control-next-icon{
    background-image: none;
}
.main-res-contact h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 1.25rem;
}
.main-res-contact h3{
    color: rgb(197,157,95);
    font-family: 'Playball', 'cursive';
    font-size: 2.125rem;
}
.main-res-contact input{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.833rem;
    font-weight: 400;
    height: 2.875rem;
    width: 18.75rem;
    background-color: rgba(255,255,255,0.26);
    color: white;
    padding-left: 1rem;
}
.main-res-contact .fa-envelope{
    left: 89%;
    margin-top: 1rem;
    color: rgb(197,157,95);
}
.contacts-item-icon-link{
    width: 50%;
    margin: auto;
}
.contacts-item-icon-link a{
    color: white;
}
.contact-us li{
    padding-top: 2.5rem;
    margin-bottom: 3rem;
}
.contact-us a{
    color: #919191;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
/* ------------------------ End opeining hour --------------------------*/
/* ------------------------start footer ---------------------------------*/
.main-res-footer{
    background-image: url(images/home-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
}
.footer-heading{
    padding-top: 7rem;
    padding-bottom: 2rem;
}
/* ----------------------- end footer -----------------------------------*/
/*  *************************************** End Main Resturant Page **********************************************     */


/*-------------- Start section --1-- --------------*/
/* ---------- start Loader ----------- */
.loader{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
   /* overflow: hidden;*/
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%);
    animation: k3d 3.5s infinite linear;
}
@keyframes k3d{
    0%{
        transform:translate(-50%,-50%) rotateY(0deg);
    }
    50%{
        transform:translate(-50%,-50%) rotateY(360deg);
        opacity: 0.3;
    }
    100%{
        transform:translate(-50%,-50%) rotateY(0deg);
    }
}
/* ---------- End Loader ----------- */




/*  *************************************** Start Main Menu Page **************************************** */
.main_menu_header{
    background-image: url(images/reservation_data.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.main_menu_header-form{
    background-color: rgba(0,0,0,0.5);
}
.main_menu_header input{
    width: 100%;
    display: inline-block;
    height: 3rem;
    padding-left: 1rem;
    margin:1rem auto;
    background-color: rgb(249,249,249);
    border: 2px solid rgb(221, 221, 221);
}
.main_menu_header .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
.reservation-data-header .btn:hover{
    background-color: #000;
    color: rgb(197,157,95);
    font-size: 1.156rem;
}
.main_menu_s1, .main_menu_s3, .main_menu_s5{ 
    margin-bottom: 5rem;
    padding-top: 5rem;
}
.main_menu_s2{
    background-image: url(images/13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.main_menu_s4{
    background-image: url(images/20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.main_meun_recipi_name{
    font-family: 'Noto Serif', serif;
    color: #000;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 29px;
    text-decoration: none;
}
.main_meun_recipi_name:hover{
    color: #000;
    opacity: 0.9;
}
.menu-item-dot {
    display: table-cell;
    width: 88%;
    border-bottom: 1px dotted #000;
}
.main_meun_recipi_price{
    font-family: 'Noto Serif', serif;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 15px;
    text-decoration: none;
}
.main_meun_recipi_desc{
    font-family: 'Noto Serif', serif;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
/*  *************************************** End Main Menu Page ****************************************** */

/*  *************************************** Start Gallery Page **************************************** */
.reservation-data-header{
    background-image: url(images/reservation_data.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.reservation-data-header h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2.75rem;
    padding-bottom: 20px;
}
.reservation-data-header h3{
    color:#C59D5F ;
    font-family: 'Playball', cursive;
    font-size: 2.125rem;
}
.reservation-data-header-form{
    background-color: rgba(0,0,0,0.5);
}
.reservation-data-header input{
    width: 100%;
    display: inline-block;
    height: 3rem;
    padding-left: 1rem;
    margin:1rem auto;
    background-color: rgb(249,249,249);
    border: 2px solid rgb(221, 221, 221);
}
.reservation-data-header .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
.reservation-data-header .btn:hover{
    background-color: #000;
    color: rgb(197,157,95);
    font-size: 1.156rem;
}
/*  *************************************** End Gallery Page ****************************************** */


/*  *************************************** Start Gallery Page **************************************** */
/*  *************************************** End Gallery Page ****************************************** */

/*  *************************************** Start Login Page **************************************** */
.log-in-header{
    background-image: url(images/log_in_page_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.log-in-header h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2.75rem;
    padding-bottom: 20px;
}
.log-in-header h3{
    color:#C59D5F ;
    font-family: 'Playball', cursive;
    font-size: 2.125rem;
}
.log-in-header-form{
    background-color: rgba(0,0,0,0.5);
}
.log-in-header input{
    width: 100%;
    display: inline-block;
    height: 3rem;
    padding-left: 1rem;
    margin:1rem auto;
    background-color: rgb(249,249,249);
    border: 2px solid rgb(221, 221, 221);
}
.log-in-header .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
.log-in-header .btn:hover{
    background-color: #000;
    color: rgb(197,157,95);
    font-size: 1.156rem;
}
/*  *************************************** End Login Page ****************************************** */

/*  *************************************** Start sign up Page **************************************** */
.sign_up_page h3{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 3.625rem;
    font-weight: 400;
}
.sign_up_page h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
}
.sign_up_form{
    width: 35%;
}
.sign_up_page input, .sign_up_page select{
    width: 100%;
    display: inline-block;
    height: 3rem;
    padding-left: 1rem;
    margin:1rem auto;
    background-color: rgb(249,249,249);
    border: 2px solid rgb(221, 221, 221);
}
.sign_up_page .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
.sign_up_page .btn:hover{
    background-color: #000;
    color: rgb(197,157,95);
    font-size: 1.156rem;
}
/*  *************************************** End sign up Page ****************************************** */


/*  *************************************** Start Reservation Page **************************************** */
.reservation-header{
    background-image: url(images/reservation-header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.reservation-header h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2.75rem;
    padding-bottom: 20px;
}
.reservation-header h3{
    color:#C59D5F ;
    font-family: 'Playball', cursive;
    font-size: 2.125rem;
}
.reservation-header-overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 95vh;
}
/* ---------- start reservation info section --------*/
.reservation-info{
    margin-top: 5rem;
}
.reservation-info h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5rem;
}
.reservation-info p{
    width: 50rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
}
.reservation-info hr{
    color: rgb(197,157,95);
    width: 150px;
    height: 1px;
    opacity: 0.6;
}
.reservation-info .left-hr{
    margin-right: 8rem;
}
.reservation-info .fa-circle{
    font-size: 0.438rem;
}
.reservation-info .right-hr{
    margin-left: 8rem;
}
.reservation-info h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin:3rem 2rem 2rem;
}
.reservation-info input, .reservation-info select, .reservation-info textarea{
    width: 90%;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: rgb(249,249,249);
    border: 2px solid #ddd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.813rem;
    padding-left: 1rem;
    padding-right: 0.2rem;
}
.reservation-info .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    padding: 15px 40px;
}
.reservation-info .btn:hover{
    color: rgb(197,157,95);
    background-color: #000;
    font-size: 1.13rem;
}
/* ---------- End reservation info section --------*/
/*  *************************************** End Reservation Page ****************************************** */


/*  *************************************** Start Blog Page **************************************** */
.reservationHistory .table , .reservationHistory th, .reservationHistory td {
    border: 1px solid #C59D5F;
    border-collapse: collapse;
}
.accounts{
    margin: 7rem;
}
.accounts .table , .accounts th, .accounts td {
    border: 1px solid #C59D5F;
    border-collapse: collapse;
}
/*  *************************************** End Blog Page ****************************************** */