/* ---------------------------------------- start public ---------------------------------------------------------------*/
/* home page */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/* res 7 */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Miniver&family=Mrs+Saint+Delafield&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Miniver&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/* res 8*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100;400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:wght@300&display=swap');
/*reservation*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato:wght@100;300&family=Miniver&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@100;400;700&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300&family=PT+Serif&family=Playball&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --res7-main-color:rgb(201, 171, 129);
    --res8-mai-color:#60BA62;
}
.main-color{
    color: #e7b35a;
}
body{
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.container-95{
    width: 95%;
    margin: auto;
}
.container-80{
    width: 80%;
    margin: auto;
}
.container-90{
    width: 90%;
    margin: auto;
}
/* ---------------------------------------- end public ---------------------------------------------------------------*/



/*  *************************************** Start Main Resturant Page ***************************************      */
/* ---------------- start header ----------------------*/
/* ---------------- start nav section -----------------*/
nav{
    position: absolute !important;
    top: 0px !important;
    z-index: 9999;
}
.upper-nav{
    margin-left: auto;
    padding-right: 2.4rem;
    line-height: 1px;
    padding-top: 5px;
}
.navbar-expand-lg{
    flex-wrap: wrap;
}
.main-res-nav .nav-link{
    color: white;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'PT Serif', serif;
    margin-left: 1.5rem;
    line-height: 1px;
}
.main-res-nav .nav-link:hover{
    color: #C59D5F!important;
}
.main-res-nav .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #C59D5F !important;
}
.log-in-btn{
    background-color: #e7b35a;
}
.upper-nav .fa-brands{
    color: white;
}
.navbar-collapse{
    flex-grow: 0;
}
/* ---------------- end nav section -----------------*/

/* ---------------- start head section -----------------*/

.main-container{
    width: 95%;
    margin: 2rem auto 0;
}
.main-video{
    position: relative;
    object-fit: fill;
    width: 95vw;
    height: 95vh;
   
}
header .overlay{
    background:linear-gradient(to bottom , rgb(00,00,00,0.4) 0 , rgb(0,0,0,0.4) 100%);
    width: 95vw;
    height: 95vh;
    
}
.header{
    position: absolute;
    top: 35%;
    left: 0px;
    right: 0px;
    z-index: 99999;
    text-align: center;
}
.header-logo{
    margin: 10px auto;
}
.header-title{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    font-family: 'Playball', cursive;
}
.header-para-hr{
    color: #C59D5F;
    width: 75px;
    height: 1px;
    opacity: 0.6;

}
.header-para{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.hero-decor {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
}
.half-circle{
    border:3px solid #C59D5F;
    width: 100px;
    height: 50px;
    border-top: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-sizing: border-box;
}
.half-circle:before {
    content: '\f005';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20px;
    height: 20px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: -15px;
    margin-left: -10px;
    color: #fff;
    font-size: 18px;
}

/* ---------------- end head section -----------------*/
/* --------------------- end header -----------------------------*/

/* ---------------------start preview -----------------------------*/
.heading-preview{
   margin-top: 6rem;
}
.home-menu{
    margin-left: 1rem;
    padding: 0.3rem;
    background-color: #444;
    border: 1px solid #444;
    border-radius: 0px;
    color: white;
}
.Preview .active{
    background-color: #C59D5F !important;
    border:1px solid #C59D5F !important;
}
.Preview{
    border-bottom: 1px solid #555;
}
/* --------------------- end preview ------------------------------------*/

/* --------------------- Start opeining hour ----------------------------*/

.opening-hour{
    background-image: url(images/28.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh;
    background-attachment: fixed;
    margin-bottom: 10px;
}
.opening-hour h2{
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 7rem;
}
.openin-hour-overlay{
    background:linear-gradient(to bottom , rgb(00,00,00,0.5) 0 , rgb(0,0,0,0.5) 100%);
    width: 100%;
    height: 100%;
}
.opening-hour h3{
    color: #C59D5F;
    font-family: 'Playball',' cursive';
    font-size: 34px;
   
}
.opening-hour hr{
    color: #C59D5F;
    width: 150px;
    height: 1px;
    opacity: 0.6;
}
.opening-hour .left-hr{
    margin-right: 13rem;
}
.opening-hour .right-hr{
    margin-left: 13rem;
}
.opening-hour .hours{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.opening-hour a {
    color: #C59D5F;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
    font-family: 'Playball', 'cursive';
    text-decoration: none;
}
/* ------------- End opeining hour section ---------*/
.main-res-contact {
    padding-bottom: 4rem;
}
.main-res-contact p{
    font-family: 'Playball', 'cursive';
    color: rgb(197,157,95);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.carousel-control-prev{
    left: 30%;
    top:130%
}
.twitter-icon-slider{
    top:100%;
    color: rgb(197,157,95);
}
.carousel-control-next{
    right: 25%;
    top: 130%;
}
.carousel-control-prev-icon{
    background-image: none;
}
.carousel-control-next-icon{
    background-image: none;
}
.main-res-contact h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 1.25rem;
}
.main-res-contact h3{
    color: rgb(197,157,95);
    font-family: 'Playball', 'cursive';
    font-size: 2.125rem;
}
.main-res-contact input{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.833rem;
    font-weight: 400;
    height: 2.875rem;
    width: 18.75rem;
    background-color: rgba(255,255,255,0.26);
    color: white;
    padding-left: 1rem;
}
.main-res-contact .fa-envelope{
    left: 89%;
    margin-top: 1rem;
    color: rgb(197,157,95);
}
.contacts-item-icon-link{
    width: 50%;
    margin: auto;
}
.contacts-item-icon-link a{
    color: white;
}
.contact-us li{
    padding-top: 2.5rem;
    margin-bottom: 3rem;
}
.contact-us a{
    color: #919191;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
/* ------------------------ End opeining hour --------------------------*/
/* ------------------------start footer ---------------------------------*/
.main-res-footer{
    background-image: url(images/home-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
}
.footer-heading{
    padding-top: 7rem;
    padding-bottom: 2rem;
}
/* ----------------------- end footer -----------------------------------*/
/*  *************************************** End Main Resturant Page **********************************************     */


/*  *************************************** Start Resturant --1-- Page **************************************** */
/*  *************************************** End Resturant --1-- Page ****************************************** */


/*  *************************************** Start Resturant --2-- Page **************************************** */
/*  *************************************** End Resturant --2-- Page ****************************************** */


/*  *************************************** Start Resturant --3-- Page **************************************** */
/*  *************************************** End Resturant --3-- Page ****************************************** */


/*  *************************************** Start Resturant --4-- Page **************************************** */
/*  *************************************** End Resturant --4-- Page ****************************************** */


/*  *************************************** Start Resturant --5-- Page **************************************** */
/*  *************************************** End Resturant --5-- Page ****************************************** */


/*  *************************************** Start Resturant --6-- Page **************************************** */
/*  *************************************** End Resturant --6-- Page ****************************************** */


/*  *************************************** Start Resturant --7-- Page **************************************** */
/*-------------- start header section --------------*/
.res-7-head{
    background-image: url(images/res7/main-bg.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.rest-head-content{
    position: absolute;
    top:50%;
    left: 20%;
    animation: 2s main_res_header_animation ;
    transform: translate(-15%,-70%);
}
@keyframes main_res_header_animation{
    from{
        transform: translate(-15%,-10%);
    }
    to{
        transform: translate(-15%,-70%);
    }
}
.res-7-head h3{
    font-family: 'Mrs Saint Delafield', cursive;
    line-height: 145px;
    font-weight: 300;
    font-size: 8.75rem;
    color: var(--res7-main-color);
    
}
.res-7-head p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 1.313rem;
    line-height: 32px;
    text-align: center;
    margin: auto;
    width: 41.813rem;
}
/*-------------- End header section --------------*/

/*-------------- Start section --1-- --------------*/
/* ---------- start Loader ----------- */
.res-7-loader{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
   /* overflow: hidden;*/
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%);
    border: 10px solid #00F;
    border-top: 10px solid #c9ab81;
    border-radius: 50%;
    animation: spin 2s infinite linear;
}
@keyframes spin{
    from{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}
/* ---------- End Loader ----------- */
.s1{
    background-color: #040909;
    height: 1000px;
    position: relative;
}
#res1-data1{
    top:-180px; 
}
.s1-1{
    height: 250px;
    width: 350px;
    background: #000;
    background-position: top;
    transition: ease-in-out 4s;
}
.s1-1:hover{
 background-position: bottom !important;
}
/*-------------- End section --1-- --------------*/

/*-------------- Start section --2-- --------------*/
.res7-s2{
    background-color: #0f1d22;
    height: 120vh;
}
.res7-section-title-para{
    font-family: 'Miniver', cursive;
    font-size: 1.188rem;
    font-weight: 400;
    line-height: 28px;
    color: rgb(201, 171, 129);
    margin-bottom: 0.813rem;
}
.res7-section-title{
    font-family: sans-serif;
    font-size: 2.563rem;
    font-weight: 700;
    line-height: 53.71px;
    text-transform: uppercase;
    color: rgb(201, 171, 129);
}
.res7-s2 p{
    font-family:sans-serif;
    font-weight: 300;
    line-height: 28px;
    font-size: 1.188rem;
    text-align: center;
    color: white;
}
.res7-s2 a {
    color: white;
    text-decoration: double #C59D5F;
}
.res7-s2-svg{
    margin-left: 74%;
}
.laptop {
   top: -50%;
}
.laptop-self-image{
   width: 727.95px;
   height: 406.72px;
}
.landing-laptop {
    position: absolute;
    top: 42px;
    left: 95px;
    width: 521px;
    height: 311px;
    overflow: hidden;
}

@-webkit-keyframes silde_animation{
    0%{margin-top: 0px;}
    100%{margin-top: -65%;}
}
@-webkit-keyframes silde2_animation{
    0%{margin-top: 0px;}
    100%{margin-top: -185%;}
}
.tablet{
    position: absolute;
    top: 30px;
    left: 100px;
}
.tablet img{
    width: 340px;
    height: 349px;
    overflow: hidden;
}
.landing-tablet img{
    position: absolute;
    width: 177px;
    height: 268.53px;
    top: 35px;
    left: 85px;
}

.phone{
    position: absolute;
    top: 150px;
    left: 240px;
}
.phone-img{
    width: 261px;
    height: 300px;
}
.landing-phone img{
    position: absolute;
    width: 104px;
    height: 229px;
    top: 35px;
    left: 81px;
}
.phone-mask{
    width: 261px;
    height: 300px;
    position: absolute;
    top: 26px;
    left: 73px;
}
.res7-s3{
    height:max-content;
    background-color: #090d0e;
    text-align: center;
    color: #C9AB81;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.res7-s3 p{
    width: 35%;
}
.res7-footer{
    background-image: url(images/res7/landing-img-16.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 7rem;
}
.res7-footer p{
    color: rgb(201, 171, 129);
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 130px;
    font-weight: 300;
    line-height:80px;
    text-align: center;
}
.res7-footer .login-section{
    margin-top: 5rem;
}
.res7-footer .login{
    border :1px solid #C59D5F;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 9px 39px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5.04px; 
    font-size: 14px;
}

/* --------------------- start menue page -------------------*/
.res7-menu-nav{
    top:2rem !important; 
    border-bottom: 1px solid #715b3e;
}
.res7-menu-nav-items{
    width:95% !important;
    margin: auto;
}
.res7-menu-nav-item .nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 5.04px;
    line-height: 23px;
    color: white;
    margin-left: 1.5rem;
    position: relative;
}
.res7-menu-nav-item .nav-link::before{
    content: "";
    width: 0;
    height: 1px;
    background-color: #715b3e;
    position: absolute;
    left: 0px;
    bottom: 2px;
    transition:width 0.3s ease-out;
}
.res7-menu-nav-item .nav-link:after{
    content: "";
    width: 0;
    height: 1px;
    background-color: #715b3e;
    position: absolute;
    left: 0px;
    bottom: 5px;
    transition:width 0.4s ease-out;
}
.res7-menu-nav-item .nav-link:hover::before{
    width: 100%;
}
.res7-menu-nav-item .nav-link:hover::after{
    width: 100%;
}
.res7-menu-nav hr{
    color: rgb(201, 171, 129);
    width: 2rem;
    height: 4px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.res7-menu-nav-items-second{
    margin-left: -8px;
}
.res7-menu-nav-items-third{
    margin-left: 8px;
}
.res7-menu-nav-items-fourth{
    margin-left: 5px;
}

.res7-menu-header{
    background: url(images/res7/Our-menu-title-img.jpg);
    height: 80vh;
    background-size: cover;
}
.res7-menu-header .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 100%;
}
.res7-menu-header h1{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #C59D5F;
    font-size: 3rem;
}
.res7-menu{
    background-color: #0b1315;
    color: #C9AB81;
    height: 140vh;
    text-align: center;
}
.res7-menu .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 100%;

}
.res7-menu-bg-line{
    border-left: 1px solid ;
    border-color:  rgba(113, 91, 62 ,0.1);
    height: 100%;
    width: 21%;
}
.res7-menu-header-content{
   padding-top: 10rem;
}

#res-men-7-data{
    height: 400px;
}
.res7-menu-line{
    display: table-cell;
    width:50%;
    border-bottom: 1px solid #715b3e;
    position: relative;
    bottom: 8px;
}
.res7-menu-line::before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #715b3e;
}
.res-7-menu-card h6 ,.res-7-menu-card p{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #C59D5F;
    text-align: left;
}
.res-7-meun-desc{
    color: white !important;
    font-size: 0.8rem !important;
    font-family: sans-serif !important;
}
.res-7-menu-card a{
    background-color:#715b3e;
    color: #FFF;
    font-size: 0.8rem;
}
.res-7-menu-card .btn:hover{
    color: #fff;
    font-weight: bold;
    background-color: #715b3F;
}
.res7-menu-main-image{
    background-image: url(images/res7/Our-menu-img-1.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

.res7-menu-main-image2{
    background-image: url(images/res7/Our-menu-img-2.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.res7-menu-main-image3{
    background-image: url(images/res7/Our-menu-img-3.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.res7-menu-footer{
    background-color:#0b1315;
    height: 90vh;
}
.res7-menu-footer .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 100%;
}
.res7-menu-footer-logo{
    padding-top: 8rem !important;
}
.res7-menu-footer a, .res7-menu-footer p{
    font-family:sans-serif;
    font-size: 19px;
    font-weight: 300;
}
.res7-menu-footer a{
    color: white;
    text-decoration: none;
}
.res7-menu-footer a:hover{
    color: #c9ab81;
}
.res7-menu-footer a{
    position: relative;
}
.res7-menu-footer .contact::before{
    content: "";
    background-color: #715b3e;
    height: 1px;
    width: 0;
    left: 0px;
    bottom: -1px;
    position: absolute;
    transition: 0.3s ease-out;
}
.res7-menu-footer .contact:hover::before{
    width: 100%;
}
.res7-menu-footer .contact::after{
    content: "";
    background-color: #715b3e;
    height: 1px;
    width: 0;
    left: 0px;
    bottom: -4px;
    position: absolute;
    transition: 0.4s ease-out;
}
.res7-menu-footer .contact:hover::after{
    width: 100%;
}
.res7-menu-main-image .container, .res7-menu-main-image2 .container, .res7-menu-main-image3 .container{
    border-left: 1px solid #715b3e;
    border-right: 1px solid #715b3e;
    height: 50vh;
}
/* --------------------- End menue page -------------------*/
/*-------------- End section --2-- --------------*/

/*  *************************************** End Resturant --7-- Page ****************************************** */


/*  *************************************** Start Resturant --8-- Page **************************************** */
/*-------------- Start Nav section --------------*/
.res8-nav{
    position: fixed;
}
.res8-nav-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: auto;
}
.res8-nav .nav-link, .res8-nav .btn{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 29px;
    padding:1.25rem 1.563rem 1px;
    margin-left: 0.938rem;
    margin-bottom: 1.25rem;
    position: relative;
}
.res8-nav .nav-link::before{
    content: "";
    position: absolute;
    background-color: var(--res8-mai-color);
    height: 3px;
    width:0;
    left: 0px;
    bottom: 0px;
    transition:width 0.25s ease-out;

}
.res8-nav .nav-link:hover::before{
    width: 100%;
}
.res8-nav .btn{
    padding:1.25rem 1.563rem ;
    margin-bottom: 0px;
}
.res8-nav .btn{
    color: var(--res8-mai-color);
    border:2px solid  var(--res8-mai-color);
    border-radius: 0px;
    padding: 5px 21px;
}
/*-------------- End Nav section --------------*/
/*-------------- Start Header section --------------*/

.res7-header .first-carousel-item{
    background-image: url(images/res8/home-banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.first-carousel-item h1, .first-carousel-item span, .second-carousel-item h1, .second-carousel-item span,  .third-carousel-item h1, .third-carousel-item span{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 50px;
    line-height: 65px;
    width: 23.125rem;
    text-transform:capitalize;
}
.first-carousel-item span, .second-carousel-item span, .third-carousel-item span{
    color: var(--res8-mai-color);
}
.first-carousel-item p, .second-carousel-item p{
    color: rgb(87,87,87);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 30px;
    width: 23.125rem;
    margin:3.125rem 0rem ;
}
.first-carousel-item .btn, .second-carousel-item .btn, .third-carousel-item .btn{
    color: white;
    background-color: var(--res8-mai-color);
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25.714px;
    padding: 0.813rem 3.125rem;
}
.res7-header .second-carousel-item{
    background-image: url(images/res8/home-banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.second-carousel-item-content{
    margin-left: auto !important;
    width: 30.125rem;
}
.second-carousel-item h1{
    width: 25.625rem;
}
.res7-header .third-carousel-item{
    background-image: url(images/res8/home-banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.third-carousel-item h1, .third-carousel-item span{
    width: 53.105rem !important;
    margin: auto !important;
}
.third-carousel-item .btn{
    margin-top:1.875rem;
}
/*-------------- Start section --1-- --------------*/

.res8-s1 h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.375rem;
    font-weight: 500px;
    letter-spacing: 0.069rem;
    line-height: 30px;
    color: rgb(87,87,87);
    text-transform: uppercase;
    padding-top:5rem ;
    padding-bottom: 5rem;
}
.res8-s1-content{
    width: 85%;
    margin: auto;
}

.res8-s1 a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500px;
    color: rgb(87,87,87);
    text-decoration: none;
    letter-spacing: 0.075rem;
    line-height: 28px;
}
.res8-s1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400px;
    color: rgb(87,87,87);
    line-height: 29px;
    letter-spacing: .59px;

}
/*-------------- End section --1-- --------------*/
/*-------------- End Header section --------------*/
/*  *************************************** End Resturant --8-- Page ****************************************** */


/*  *************************************** Start Gallery Page **************************************** */
/*  *************************************** End Gallery Page ****************************************** */

/*  *************************************** Start Login Page **************************************** */
.log-in-header{
    background-image: url(images/log_in_page_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.log-in-header h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2.75rem;
    padding-bottom: 20px;
}
.log-in-header h3{
    color:#C59D5F ;
    font-family: 'Playball', cursive;
    font-size: 2.125rem;
}
.log-in-header-form{
    background-color: rgba(0,0,0,0.5);
}
.log-in-header input{
    width: 100%;
    display: inline-block;
    height: 3rem;
    padding-left: 1rem;
    margin:1rem auto;
    background-color: rgb(249,249,249);
    border: 2px solid rgb(221, 221, 221);
}
.log-in-header .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
.log-in-header .btn:hover{
    background-color: #000;
    color: rgb(197,157,95);
    font-size: 1.156rem;
}
/*  *************************************** End Login Page ****************************************** */

/*  *************************************** Start sign up Page **************************************** */
.sign_up_page h3{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 3.625rem;
    font-weight: 400;
}
.sign_up_page h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
}
.sign_up_form{
    width: 35%;
}
.sign_up_page input, .sign_up_page select{
    width: 100%;
    display: inline-block;
    height: 3rem;
    padding-left: 1rem;
    margin:1rem auto;
    background-color: rgb(249,249,249);
    border: 2px solid rgb(221, 221, 221);
}
.sign_up_page .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 1rem auto 3rem;
}
/*  *************************************** End sign up Page ****************************************** */


/*  *************************************** Start Reservation Page **************************************** */
.reservation-header{
    background-image: url(images/reservation-header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.reservation-header h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2.75rem;
    padding-bottom: 20px;
}
.reservation-header h3{
    color:#C59D5F ;
    font-family: 'Playball', cursive;
    font-size: 2.125rem;
}
.reservation-header-overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 95vh;
}
/* ---------- start reservation info section --------*/
.reservation-info{
    margin-top: 5rem;
}
.reservation-info h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5rem;
}
.reservation-info p{
    width: 50rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
}
.reservation-info hr{
    color: rgb(197,157,95);
    width: 150px;
    height: 1px;
    opacity: 0.6;
}
.reservation-info .left-hr{
    margin-right: 8rem;
}
.reservation-info .fa-circle{
    font-size: 0.438rem;
}
.reservation-info .right-hr{
    margin-left: 8rem;
}
.reservation-info h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin:3rem 2rem 2rem;
}
.reservation-info input, .reservation-info select, .reservation-info textarea{
    width: 90%;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: rgb(249,249,249);
    border: 2px solid #ddd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.813rem;
    padding-left: 1rem;
    padding-right: 0.2rem;
}
.reservation-info .btn{
    color: rgb(197,157,95);
    font-family: 'Playball', cursive;
    font-size: 1.125rem;
    background-color: #000;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    padding: 15px 40px;
}
/* ---------- End reservation info section --------*/
/*  *************************************** End Reservation Page ****************************************** */


/*  *************************************** Start Blog Page **************************************** */
/*  *************************************** End Blog Page ****************************************** */